body {
  /* background: linear-gradient(
    50deg,
    rgba(125, 244, 131, 0.9),
    rgba(119, 226, 169, 0.9),
    rgba(10, 185, 123, 0.9)
  ); */
  color: rgb(56, 90, 100);
  background-image: url("static/bg.jpg");

  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: 45vw 80vh;
  background-position: center;
  background-position-x: 150px;
  font-family: "Dosis", sans-serif;
  position: relative;
  /* width: 97vw; */
  display: flex;
  justify-content: flex-end;
}
/* #outer-div {
  position: relative;
  width: 97vw;
  display: flex;
  justify-content: flex-end;
} */
#heading {
  position: fixed;
  top: 20px;
  left: 40px;
  /* color: rgb(0, 223, 192); */
  font-size: 35px;
  padding: 7px;
  border-left: 4px solid rgb(56, 90, 100);
  border-bottom: 2px solid rgb(56, 90, 100);
}

#inner-div {
  display: flex;
  align-items: center;
  column-gap: 5px;
  row-gap: 5px;
  flex-wrap: wrap;
  position: absolute;
  top: 50px;
  right: 50px;
  justify-content: space-around;
  flex-direction: column;
  /* height: fit-content; */
  margin: 20px;
  /* width: 90vw; */
}
.input {
  margin: 5px;
}
.subdivs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  /* border: 2px solid black; */
  margin: 10px;
  padding: 10px;
  border-radius: 8%;
  background-color: white;
  /* box-shadow: 5px 10px rgb(255, 253, 253, 0.3); */
  box-shadow: 1px 3px 5px 0.2px rgb(0, 223, 192);
  min-width: 250px;

  width: 30vw;
  /* height: 35vh; */
}

#to {
  align-items: flex-start;
}
p {
  font-size: 20px;
  font-weight: bold;
  color: rgb(56, 90, 100);
}
textarea {
  height: 200px;
  min-width: 220px;
  width: 25vw;
  border: none;
}
input,
textarea {
  border: 0.5px solid rgb(56, 90, 100);
  width: 200px;
  height: 30px;
  border-radius: 7px;
  padding: 5px;
  margin: 3px;
  font-size: 15px;
  font-family: "Dosis", sans-serif;

  /* border: none; */
}
input[type="radio"] {
  accent-color: rgb(0, 223, 192);
}
textarea:focus,
input:focus {
  outline: none;
  border: none;
  box-shadow: 0px 0px 5px 0.2px rgb(0, 223, 192);
}
.radio input {
  width: auto;
  height: auto;
}
.radio input:focus {
  box-shadow: none;
}
textarea {
  height: 200px;
  min-width: 220px;
  width: 25vw;
  /* border: none; */
}
button {
  width: 80px;
  height: 30px;
  background-color: rgb(0, 223, 192);
  border-radius: 5px;
  border: none;
  margin: 10px;
  border: 2px solid rgb(56, 90, 100);
  color: white;
}
button:hover {
  box-shadow: 0px 0px 2px 1px rgb(0, 223, 192);
  border-color: white;
}
